* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
}
header {
    background: rgb(73, 13, 73); 
}
#head {
    width: 980px;
    height: 80px;
    margin: 0 auto;
    border: 1px solid white;
}

#head-logo {
  width: 150px;
  border: 1px solid black;
  background: goldenrod;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica,"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: white; 
  margin-top: 10px;
  margin-left: 10px;
}

.head-nav {
    list-style: none;
    text-align: right;
   
}
.head-nav>li {
    display: inline-block;
    margin-right: 10px;
}
.head-nav>li>a {
    text-decoration: none;
    color: rgba(255,255,255,.5);
}
.head-icon-github {
    width: 30px;
    height: 34px;
    background: url(../img/icon-github.png);
    position: absolute;
    top: 46px;
    right: 10px;
}

#sideshow {
    height: 650px;
    
    background: url(../img/banner-bg.jpg);
}

#sideshow-text {
    width: 370px;
    height: 180px;
    position: relative;
    top: 450px;
    float: right;
    right: 80px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .75) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .75) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, .75) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(top, rgba(255, 255, 255, .75) 0%, rgba(255, 255, 255, 0) 100%);
}
#sideshow-text>h1 {
    font-size: 14px;
    padding: 10px 10px 30px 10px;
    text-align: right;
}
#sideshow-text>p {
    font-size: 12px;
    text-indent: 24px;
}
#context {
    background: rgb(228, 223, 223);
    overflow: hidden;
    
}
.container {
    width: 980px;
    height: 500px;
    margin: 0 auto;
    font-size: 0;
    margin-top: 10px;
    background: rgb(228, 223, 223);
 
}
/* use inline-block */
/* .con-container {
    width: 320px;
    height: 380px;
    display: inline-block;
    background: white;
    font-size: 12px;
  

}
.con-container>img {
    width: 300px;
    height: 180px;
 
}
.con-container>p {
    margin:10px 30px 10px 30px;
} */
/* use float */
.con-container {
     width: 320px;
     height: 380px;
     float: left;
     background: white;
     font-size: 12px;
     text-align: center;
 }
.con-container:not(:last-child) {
        margin-right: 10px;
}
.con-container>img {
    margin-top: 15px;
    width: 300px;
    height: 180px;
   
}
.con-container>p {
    margin: 5px 30px 10px 30px;
    text-align: left;
}

#interview {
    height: 520px;
    text-align: center;
}

#iv-image {
    height: 160px;
    width: 160px;
    border-radius: 80px;
    background: purple;
    margin: 0 auto;
    margin-top: -50px;
    
}
#interview>h1 {
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: "Century Gothic";
    
}

#interview>p {
    font-size: 14px;
    width: 600px;
    margin: 0 auto;
    text-align: left;
    text-indent: 28px;
}
footer {
    background: black;    
}
.foot-nav {
    list-style: none;
    width: 980px;
    margin: 0 auto;
    border: 1px solid rebeccapurple;
    text-align: center;
    font-size: 14px;
}
.foot-nav>li {
    display: inline-block;
}
.foot-nav>li:not(:last-child) {
    margin-right: 20px;
}
.foot-nav>li>a {
    text-decoration: none;
    color: white;
}

.foot-link {
    width: 980px;
    margin: 0 auto;
    text-align: center;
    list-style: none;
}

.foot-link>li {
    text-align: left;
    display: inline-block;
    color: rgb(218, 201, 201);
    vertical-align: top;
}

.foot-link>li:not(:last-child) {
    margin-right: 90px;
}

.foot-link>li>ul{
    list-style: none;
    text-align: left;
}
.foot-link>li>ul>li>a:hover {
    color: white;

}

.copyright {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}
.copyright>span {
    font-size: 12px;
    color: rgb(117, 101, 101);
}





